# This notebook was created to code the completion of the CandidateCauses_Criteria sheet, which we were to send across to NPC

### Filling up the list with the relevant CODEM values and the DALYs from the central funcs

In [1]:
import pandas as pd
causes_criteria = pd.read_excel('/ihme/homes/arjuns13/notebooks/Documents/Data/CandidateCauses_Criteria.xlsx')

In [2]:
causes_criteria.head()

,DEX ranking by total expenditure,GBD cause_id,DEX descriptive label,Preliminary amenable burden analysis conducted,Comment,Number of GBD round 5 global CODEM models in which HAQ index was included,Number of GBD round 5data rich CODEM models in which HAQ index was included,Was HAQ index included in nonfatal model?,"Total DALYs in the United States, GBD round 5, year = 2016","DALYs per person in the United States, GBD round 5, year = 2016","Total DALYs globally, GBD round 5, year = 2016","DALYs per person globally, GBD round 5, year = 2016",Expenditure per person?
0,1,587,Diabetes mellitus,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,493,Ischemic heart disease,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,2000,Low back and neck pain,NaN,Sum of level 4 causes 630+631,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,697,Falls,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6,567,Depressive disorders,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
causes_criteria = causes_criteria.dropna(subset=['GBD cause_id'])

In [4]:
causes_criteria.columns

Index(['DEX ranking by total expenditure', 'GBD cause_id',
       'DEX descriptive label',
       'Preliminary amenable burden analysis conducted ', 'Comment',
       'Number of GBD round 5 global CODEM models in which HAQ index was included',
       'Number of GBD round 5data rich CODEM models in which HAQ index was included',
       'Was HAQ index included in nonfatal model?',
       'Total DALYs in the United States, GBD round 5, year = 2016',
       'DALYs per person in the United States, GBD round 5, year = 2016',
       'Total DALYs globally, GBD round 5, year = 2016',
       'DALYs per person globally, GBD round 5, year = 2016',
       'Expenditure per person?'],
      dtype='object')

In [5]:
causes_criteria.loc[:,'GBD cause_id'] = causes_criteria.loc[:,'GBD cause_id'].astype('int64')

In [6]:
causes_criteria.shape

(149, 13)

In [7]:
causes_criteria.head()

,DEX ranking by total expenditure,GBD cause_id,DEX descriptive label,Preliminary amenable burden analysis conducted,Comment,Number of GBD round 5 global CODEM models in which HAQ index was included,Number of GBD round 5data rich CODEM models in which HAQ index was included,Was HAQ index included in nonfatal model?,"Total DALYs in the United States, GBD round 5, year = 2016","DALYs per person in the United States, GBD round 5, year = 2016","Total DALYs globally, GBD round 5, year = 2016","DALYs per person globally, GBD round 5, year = 2016",Expenditure per person?
0,1,587,Diabetes mellitus,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,493,Ischemic heart disease,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,2000,Low back and neck pain,NaN,Sum of level 4 causes 630+631,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,697,Falls,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6,567,Depressive disorders,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## List of all cause and cause IDs from the source

In [8]:
all_cause_data = pd.read_csv('/ihme/homes/arjuns13/notebooks/Documents/Data/all_cause_data.csv')

In [9]:
all_cause_data = all_cause_data.drop(columns = ['acause', 'cause_description'])

In [10]:
all_cause_data.head()

   cause_id                                         cause_name
0       294                                         All causes
1       295  Communicable, maternal, neonatal, and nutritio...
2       296                          HIV/AIDS and tuberculosis
3       297                                       Tuberculosis
4       298                                           HIV/AIDS

## COD list

In [11]:
COD_cause_list = pd.read_excel('/ihme/homes/arjuns13/notebooks/Documents/Data/COD_methods_appendix_9_HAQ_Only.xlsx',\
                               header=2, na_values='--')

In [12]:
COD_cause_list = COD_cause_list.dropna()

In [13]:
COD_cause_list = COD_cause_list.drop(columns = ['Direction', 'Level', 'Age Start', 'Age End'])

In [14]:
COD_cause_list.head()

                                    Cause     Sex Model Type  Number of Draws
119              Diabetes mellitus type 1  Female  Data Rich           1000.0
120              Diabetes mellitus type 1    Male  Data Rich           1000.0
121  Environmental heat and cold exposure  Female  Data Rich           1000.0
122  Environmental heat and cold exposure    Male  Data Rich           1000.0
123         Exposure to mechanical forces    Male  Data Rich           1000.0

In [15]:
COD_cause_list.shape

(541, 4)

## COD merged with All Cause list to get the cause_id's

In [16]:
COD_cause_list_with_ids = COD_cause_list.merge(all_cause_data, left_on = 'Cause', right_on = 'cause_name')

In [18]:
all_cause_data[all_cause_data['cause_name'] == 'Ischemic heart disease']

     cause_id              cause_name
199       493  Ischemic heart disease

In [19]:
COD_cause_list_with_ids = COD_cause_list_with_ids.drop(columns = ['cause_name'])
COD_cause_list_with_ids.head()

,Cause,Sex,Model Type,Number of Draws,cause_id
0,Diabetes mellitus type 1,Female,Data Rich,1000.0,975
1,Diabetes mellitus type 1,Male,Data Rich,1000.0,975
2,Diabetes mellitus type 1,Female,Global,1000.0,975
3,Diabetes mellitus type 1,Male,Global,1000.0,975
4,Environmental heat and cold exposure,Female,Data Rich,1000.0,842

In [20]:
COD_cause_list_with_ids.shape

(488, 5)

In [21]:
COD_cause_list_male = COD_cause_list_with_ids[COD_cause_list_with_ids['Sex'] == 'Male']
COD_cause_list_male.head()

,Cause,Sex,Model Type,Number of Draws,cause_id
1,Diabetes mellitus type 1,Male,Data Rich,1000.0,975
3,Diabetes mellitus type 1,Male,Global,1000.0,975
5,Environmental heat and cold exposure,Male,Data Rich,1000.0,842
7,Environmental heat and cold exposure,Male,Global,674.0,842
8,Exposure to mechanical forces,Male,Data Rich,1000.0,704

In [22]:
COD_cause_list_female = COD_cause_list_with_ids[COD_cause_list_with_ids['Sex'] == 'Female']
COD_cause_list_female.head()

,Cause,Sex,Model Type,Number of Draws,cause_id
0,Diabetes mellitus type 1,Female,Data Rich,1000.0,975
2,Diabetes mellitus type 1,Female,Global,1000.0,975
4,Environmental heat and cold exposure,Female,Data Rich,1000.0,842
6,Environmental heat and cold exposure,Female,Global,1000.0,842
9,Exposure to mechanical forces,Female,Data Rich,0.0,704

In [23]:
COD_cause_list_all = COD_cause_list_male.merge(COD_cause_list_female, on = ['cause_id', 'Cause', 'Model Type'])
COD_cause_list_all['Avg Num of Draws'] = (COD_cause_list_all['Number of Draws_x']\
                                              + COD_cause_list_all['Number of Draws_y'])/2
COD_cause_list_all = COD_cause_list_all.drop(columns = ['Sex_x', 'Sex_y', 'Number of Draws_x', 'Number of Draws_y' ])
COD_cause_list_all.head()

                                  Cause Model Type  cause_id  Avg Num of Draws
0              Diabetes mellitus type 1  Data Rich       975            1000.0
1              Diabetes mellitus type 1     Global       975            1000.0
2  Environmental heat and cold exposure  Data Rich       842            1000.0
3  Environmental heat and cold exposure     Global       842             837.0
4         Exposure to mechanical forces  Data Rich       704             500.0

In [24]:
COD_cause_list_all.shape

(223, 4)

In [25]:
#COD_cause_list_all = COD_cause_list_all.drop_duplicates(subset = 'cause_id')

In [26]:
COD_cause_list_all.head()

                                  Cause Model Type  cause_id  Avg Num of Draws
0              Diabetes mellitus type 1  Data Rich       975            1000.0
1              Diabetes mellitus type 1     Global       975            1000.0
2  Environmental heat and cold exposure  Data Rich       842            1000.0
3  Environmental heat and cold exposure     Global       842             837.0
4         Exposure to mechanical forces  Data Rich       704             500.0

## COD Data Rich model

In [27]:
COD_cause_list_dataRich = COD_cause_list_all[COD_cause_list_all['Model Type'] == 'Data Rich']
COD_cause_list_dataRich.head()

,Cause,Model Type,cause_id,Avg Num of Draws
0,Diabetes mellitus type 1,Data Rich,975,1000.0
2,Environmental heat and cold exposure,Data Rich,842,1000.0
4,Exposure to mechanical forces,Data Rich,704,500.0
7,Paralytic ileus and intestinal obstruction,Data Rich,530,663.0
9,Poisoning by other means,Data Rich,703,983.5

In [28]:
COD_cause_list_dataRich.shape

(104, 4)

In [29]:
COD_cause_list_dataRich = COD_cause_list_dataRich.drop_duplicates(subset = 'cause_id')

In [38]:
COD_cause_list_dataRich[COD_cause_list_dataRich['Cause'] == 'Ischemic heart disease']

                     Cause Model Type  cause_id  Avg Num of Draws
51  Ischemic heart disease  Data Rich       493             608.5

In [31]:
COD_cause_list_dataRich.shape

(94, 4)

In [39]:
causes_criteria_final_sub = pd.merge(causes_criteria, COD_cause_list_dataRich,\
                                 left_on = 'GBD cause_id', right_on = 'cause_id', how = 'left')
causes_criteria_final_sub.loc[:,'Number of GBD round 5data rich CODEM models in which HAQ index was included'] = \
causes_criteria_final_sub.loc[:,'Avg Num of Draws']
causes_criteria_final_sub = causes_criteria_final_sub.drop(columns = ['Cause', 'Model Type', 'cause_id', 'Avg Num of Draws'])
causes_criteria_final_sub.head()

,DEX ranking by total expenditure,GBD cause_id,DEX descriptive label,Preliminary amenable burden analysis conducted,Comment,Number of GBD round 5 global CODEM models in which HAQ index was included,Number of GBD round 5data rich CODEM models in which HAQ index was included,Was HAQ index included in nonfatal model?,"Total DALYs in the United States, GBD round 5, year = 2016","DALYs per person in the United States, GBD round 5, year = 2016","Total DALYs globally, GBD round 5, year = 2016","DALYs per person globally, GBD round 5, year = 2016",Expenditure per person?
0,1,587,Diabetes mellitus,Yes,NaN,NaN,553.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2,493,Ischemic heart disease,NaN,NaN,NaN,608.5,NaN,NaN,NaN,NaN,NaN,NaN
2,3,2000,Low back and neck pain,NaN,Sum of level 4 causes 630+631,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,697,Falls,Yes,NaN,NaN,30.0,NaN,NaN,NaN,NaN,NaN,NaN
4,6,567,Depressive disorders,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## COD Global model

In [40]:
COD_cause_list_global = COD_cause_list_all[COD_cause_list_all['Model Type'] == 'Global']
COD_cause_list_global.head(20)

,Cause,Model Type,cause_id,Avg Num of Draws
1,Diabetes mellitus type 1,Global,975,1000.0
3,Environmental heat and cold exposure,Global,842,837.0
5,Exposure to mechanical forces,Global,704,691.0
6,Hodgkin lymphoma,Global,484,1000.0
8,Paralytic ileus and intestinal obstruction,Global,530,584.5
10,Poisoning by other means,Global,703,467.5
12,Drug use disorders,Global,561,339.0
14,Executions and police conflict,Global,854,461.0
16,Upper digestive system diseases,Global,992,753.0
18,"Fire, heat, and hot substances",Global,699,521.5
20,Poisonings,Global,700,285.0
22,Peptic ulcer disease,Global,527,891.0
24,Acute glomerulonephritis,Global,588,618.0
26,Otitis media,Global,329,688.5
28,Self-harm and interpersonal violence,Global,717,591.5
30,Other unintentional injuries,Global,716,216.5
33,Tetanus,Global,340,653.0
34,Tetanus,Global,340,631.0
35,Tetanus,Global,340,558.0
36,Tetanus,Global,340,536.0

In [41]:
COD_cause_list_global.shape

(119, 4)

In [42]:
COD_cause_list_global = COD_cause_list_global.drop_duplicates(subset = 'cause_id')

In [43]:
COD_cause_list_global.shape

(107, 4)

In [44]:
causes_criteria_final = pd.merge(causes_criteria_final_sub, COD_cause_list_global,\
                                 left_on = 'GBD cause_id', right_on = 'cause_id', how = 'left')
causes_criteria_final.loc[:,'Number of GBD round 5 global CODEM models in which HAQ index was included'] = \
causes_criteria_final.loc[:,'Avg Num of Draws']
causes_criteria_final = causes_criteria_final.drop(columns = ['Cause', 'Model Type', 'cause_id', 'Avg Num of Draws'])
causes_criteria_final.head()

,DEX ranking by total expenditure,GBD cause_id,DEX descriptive label,Preliminary amenable burden analysis conducted,Comment,Number of GBD round 5 global CODEM models in which HAQ index was included,Number of GBD round 5data rich CODEM models in which HAQ index was included,Was HAQ index included in nonfatal model?,"Total DALYs in the United States, GBD round 5, year = 2016","DALYs per person in the United States, GBD round 5, year = 2016","Total DALYs globally, GBD round 5, year = 2016","DALYs per person globally, GBD round 5, year = 2016",Expenditure per person?
0,1,587,Diabetes mellitus,Yes,NaN,694.0,553.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2,493,Ischemic heart disease,NaN,NaN,372.5,608.5,NaN,NaN,NaN,NaN,NaN,NaN
2,3,2000,Low back and neck pain,NaN,Sum of level 4 causes 630+631,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,697,Falls,Yes,NaN,352.5,30.0,NaN,NaN,NaN,NaN,NaN,NaN
4,6,567,Depressive disorders,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
causes_criteria_final.to_csv('/ihme/homes/arjuns13/notebooks/Documents/Data/CandidateCauses_Criteria_withCODEM.csv')

In [46]:
cause_list = causes_criteria.loc[:,'GBD cause_id']

In [47]:
cause_list = list(cause_list)

## And now onto the DALYs 

### First DALY rate in the US

In [48]:
from db_queries import get_outputs as go 
dalys_per_cause_rate = go("cause", cause_id=cause_list, metric_id=3,\
                     measure_id=2, gbd_round_id=5,year_id=[2016], location_id=[102],\
                    age_group_id = 22)
dalys_per_cause_rate.head()

,age_group_id,cause_id,location_id,measure_id,metric_id,sex_id,year_id,acause,age_group_name,cause_name,expected,location_name,measure_name,metric_name,sex,val,upper,lower
0,22,297,102,2,3,3,2016,tb,All Ages,Tuberculosis,False,United States,DALYs (Disability-Adjusted Life Years),Rate,Both,0.000069,0.000073,6.485067e-05
1,22,298,102,2,3,3,2016,hiv,All Ages,HIV/AIDS,False,United States,DALYs (Disability-Adjusted Life Years),Rate,Both,0.001270,0.001536,1.068995e-03
2,22,302,102,2,3,3,2016,diarrhea,All Ages,Diarrheal diseases,False,United States,DALYs (Disability-Adjusted Life Years),Rate,Both,0.001364,0.001701,1.090676e-03
3,22,321,102,2,3,3,2016,intest_other,All Ages,Other intestinal infectious diseases,False,United States,DALYs (Disability-Adjusted Life Years),Rate,Both,0.000002,0.000003,8.782998e-07
4,22,322,102,2,3,3,2016,lri,All Ages,Lower respiratory infections,False,United States,DALYs (Disability-Adjusted Life Years),Rate,Both,0.004296,0.004386,4.199256e-03

In [49]:
dalys_per_cause_rate = dalys_per_cause_rate[['cause_id', 'val']]
dalys_per_cause_rate.head()

   cause_id       val
0       297  0.000069
1       298  0.001270
2       302  0.001364
3       321  0.000002
4       322  0.004296

In [50]:
causes_criteria_final1 = pd.merge(causes_criteria_final, dalys_per_cause_rate,\
                                 left_on = 'GBD cause_id', right_on = 'cause_id', how = 'left')
causes_criteria_final1.loc[:,'DALYs per person in the United States, GBD round 5, year = 2016'] = \
causes_criteria_final1.loc[:,'val']
causes_criteria_final1 = causes_criteria_final1.drop(columns = ['cause_id', 'val'])
causes_criteria_final1.head()

,DEX ranking by total expenditure,GBD cause_id,DEX descriptive label,Preliminary amenable burden analysis conducted,Comment,Number of GBD round 5 global CODEM models in which HAQ index was included,Number of GBD round 5data rich CODEM models in which HAQ index was included,Was HAQ index included in nonfatal model?,"Total DALYs in the United States, GBD round 5, year = 2016","DALYs per person in the United States, GBD round 5, year = 2016","Total DALYs globally, GBD round 5, year = 2016","DALYs per person globally, GBD round 5, year = 2016",Expenditure per person?
0,1,587,Diabetes mellitus,Yes,NaN,694.0,553.0,NaN,NaN,0.011814,NaN,NaN,NaN
1,2,493,Ischemic heart disease,NaN,NaN,372.5,608.5,NaN,NaN,0.024326,NaN,NaN,NaN
2,3,2000,Low back and neck pain,NaN,Sum of level 4 causes 630+631,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,697,Falls,Yes,NaN,352.5,30.0,NaN,NaN,0.005884,NaN,NaN,NaN
4,6,567,Depressive disorders,NaN,NaN,NaN,NaN,NaN,NaN,0.007791,NaN,NaN,NaN

### Next DALY total in the US

In [51]:
dalys_per_cause_total = go("cause", cause_id=cause_list, metric_id=1,\
                     measure_id=2, gbd_round_id=5,year_id=[2016], location_id=[102],\
                    age_group_id = 22)
dalys_per_cause_total = dalys_per_cause_total[['cause_id', 'val']]

causes_criteria_final2 = pd.merge(causes_criteria_final1, dalys_per_cause_total,\
                                 left_on = 'GBD cause_id', right_on = 'cause_id', how = 'left')
causes_criteria_final2.loc[:,'Total DALYs in the United States, GBD round 5, year = 2016'] = \
causes_criteria_final2.loc[:,'val']
causes_criteria_final2 = causes_criteria_final2.drop(columns = ['cause_id', 'val'])
causes_criteria_final2.head()

,DEX ranking by total expenditure,GBD cause_id,DEX descriptive label,Preliminary amenable burden analysis conducted,Comment,Number of GBD round 5 global CODEM models in which HAQ index was included,Number of GBD round 5data rich CODEM models in which HAQ index was included,Was HAQ index included in nonfatal model?,"Total DALYs in the United States, GBD round 5, year = 2016","DALYs per person in the United States, GBD round 5, year = 2016","Total DALYs globally, GBD round 5, year = 2016","DALYs per person globally, GBD round 5, year = 2016",Expenditure per person?
0,1,587,Diabetes mellitus,Yes,NaN,694.0,553.0,NaN,3.814559e+06,0.011814,NaN,NaN,NaN
1,2,493,Ischemic heart disease,NaN,NaN,372.5,608.5,NaN,7.854095e+06,0.024326,NaN,NaN,NaN
2,3,2000,Low back and neck pain,NaN,Sum of level 4 causes 630+631,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,697,Falls,Yes,NaN,352.5,30.0,NaN,1.899736e+06,0.005884,NaN,NaN,NaN
4,6,567,Depressive disorders,NaN,NaN,NaN,NaN,NaN,2.515494e+06,0.007791,NaN,NaN,NaN

### Next DALY rate globally

In [52]:
dalys_per_cause_rate_global = go("cause", cause_id=cause_list, metric_id=3,\
                     measure_id=2, gbd_round_id=5,year_id=[2016], location_id=[1],\
                    age_group_id = 22)
dalys_per_cause_rate_global = dalys_per_cause_rate_global[['cause_id', 'val']]
#dalys_per_cause_rate_global.head()
causes_criteria_final3 = pd.merge(causes_criteria_final2, dalys_per_cause_rate_global,\
                                 left_on = 'GBD cause_id', right_on = 'cause_id', how = 'left')
causes_criteria_final3.loc[:,'DALYs per person globally, GBD round 5, year = 2016'] = \
causes_criteria_final3.loc[:,'val']
causes_criteria_final3 = causes_criteria_final3.drop(columns = ['cause_id', 'val'])
causes_criteria_final3.head()

,DEX ranking by total expenditure,GBD cause_id,DEX descriptive label,Preliminary amenable burden analysis conducted,Comment,Number of GBD round 5 global CODEM models in which HAQ index was included,Number of GBD round 5data rich CODEM models in which HAQ index was included,Was HAQ index included in nonfatal model?,"Total DALYs in the United States, GBD round 5, year = 2016","DALYs per person in the United States, GBD round 5, year = 2016","Total DALYs globally, GBD round 5, year = 2016","DALYs per person globally, GBD round 5, year = 2016",Expenditure per person?
0,1,587,Diabetes mellitus,Yes,NaN,694.0,553.0,NaN,3.814559e+06,0.011814,NaN,0.008805,NaN
1,2,493,Ischemic heart disease,NaN,NaN,372.5,608.5,NaN,7.854095e+06,0.024326,NaN,0.022357,NaN
2,3,2000,Low back and neck pain,NaN,Sum of level 4 causes 630+631,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,697,Falls,Yes,NaN,352.5,30.0,NaN,1.899736e+06,0.005884,NaN,0.004701,NaN
4,6,567,Depressive disorders,NaN,NaN,NaN,NaN,NaN,2.515494e+06,0.007791,NaN,0.005622,NaN

### DALYs total globally

In [53]:
dalys_per_cause_total_global = go("cause", cause_id=cause_list, metric_id=1,\
                     measure_id=2, gbd_round_id=5,year_id=[2016], location_id=[1],\
                    age_group_id = 22)
dalys_per_cause_total_global = dalys_per_cause_total_global[['cause_id', 'val']]
#dalys_per_cause_rate_global.head()
causes_criteria_final4 = pd.merge(causes_criteria_final3, dalys_per_cause_total_global,\
                                 left_on = 'GBD cause_id', right_on = 'cause_id', how = 'left')
causes_criteria_final4.loc[:,'Total DALYs globally, GBD round 5, year = 2016'] = \
causes_criteria_final4.loc[:,'val']
causes_criteria_final4 = causes_criteria_final4.drop(columns = ['cause_id', 'val'])
causes_criteria_final4.head()

,DEX ranking by total expenditure,GBD cause_id,DEX descriptive label,Preliminary amenable burden analysis conducted,Comment,Number of GBD round 5 global CODEM models in which HAQ index was included,Number of GBD round 5data rich CODEM models in which HAQ index was included,Was HAQ index included in nonfatal model?,"Total DALYs in the United States, GBD round 5, year = 2016","DALYs per person in the United States, GBD round 5, year = 2016","Total DALYs globally, GBD round 5, year = 2016","DALYs per person globally, GBD round 5, year = 2016",Expenditure per person?
0,1,587,Diabetes mellitus,Yes,NaN,694.0,553.0,NaN,3.814559e+06,0.011814,6.651521e+07,0.008805,NaN
1,2,493,Ischemic heart disease,NaN,NaN,372.5,608.5,NaN,7.854095e+06,0.024326,1.688977e+08,0.022357,NaN
2,3,2000,Low back and neck pain,NaN,Sum of level 4 causes 630+631,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,697,Falls,Yes,NaN,352.5,30.0,NaN,1.899736e+06,0.005884,3.551392e+07,0.004701,NaN
4,6,567,Depressive disorders,NaN,NaN,NaN,NaN,NaN,2.515494e+06,0.007791,4.247073e+07,0.005622,NaN

In [54]:
causes_criteria_final4.shape

(149, 13)

In [55]:
causes_criteria_final4.to_csv('/ihme/homes/arjuns13/notebooks/Documents/Data/CandidateCauses_Criteria_withCODEM_andDALYs.csv')

In [56]:
causes_criteria_final4.to_csv('J:\\Project\\Cost_Effectiveness\\NPC\\Regression_Analysis\\CandidateCauses_Criteria_withCODEM_andDALYs.csv')