## This generates the HAQ-SDI data to be used for the HAQ-Frontier Analysis. Current notebook is for all only the US and age specific data.

In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
import pandas as pd
import numpy as np

from numpy import sign, abs, log10
from scipy.special import logit

# SDI

In [3]:
#sdi = pd.read_csv('J:\\Project\\Cost_Effectiveness\\DCPN_DataViz\\Data\\GBD_data\\covariates\\2018_04_20_sdi.csv')
sdi = pd.read_csv('/snfs1/Project/Cost_Effectiveness/DCPN_DataViz/Data/GBD_data/covariates/2018_04_20_sdi.csv')

In [4]:
sdi.head()

,Unnamed: 0,model_version_id,covariate_id,covariate_name_short,location_id,location_name,year_id,age_group_id,age_group_name,sex_id,mean_value,lower_value,upper_value
0,1,23297,881,sdi,1,Global,2016,22,All Ages,3,0.649754,0.649754,0.649754
1,2,23297,881,sdi,4,"Southeast Asia, East Asia, and Oceania",2016,22,All Ages,3,0.683368,0.683368,0.683368
2,3,23297,881,sdi,5,East Asia,2016,22,All Ages,3,0.712705,0.712705,0.712705
3,4,23297,881,sdi,6,China,2016,22,All Ages,3,0.712014,0.712014,0.712014
4,5,23297,881,sdi,7,North Korea,2016,22,All Ages,3,0.527559,0.527559,0.527559

In [5]:
sdi['age_group_name'].unique()

array(['All Ages'], dtype=object)

In [6]:
sdi_1 = sdi[['location_id', 'mean_value']]
sdi_1 = sdi_1.rename(columns = {'mean_value': 'sdi'})

In [7]:
sdi_1.shape

(919, 2)

In [8]:
sbp = sdi.boxplot(column='mean_value',by='age_group_name')

In [9]:
sdi_1.head()

   location_id       sdi
0            1  0.649754
1            4  0.683368
2            5  0.712705
3            6  0.712014
4            7  0.527559

In [10]:
# Make sure UK is in data (this location is often problematic because it is usually disaggregated)
sdi_1.query('location_id == 95')

    location_id       sdi
92           95  0.840568

In [11]:
# logit transformation 

sdi_1['logit_sdi'] = logit(sdi_1['sdi'])

In [12]:
sdi_1.head()

   location_id       sdi  logit_sdi
0            1  0.649754   0.617958
1            4  0.683368   0.769294
2            5  0.712705   0.908556
3            6  0.712014   0.905187
4            7  0.527559   0.110348

In [13]:
sdi_1.shape

(919, 3)

In [14]:
sdi_1.describe()

        location_id         sdi   logit_sdi
count    919.000000  919.000000  919.000000
mean   21679.757345    0.700113    0.955602
std    20759.983582    0.156078    0.783099
min        1.000000    0.194042   -1.423959
25%      484.500000    0.605473    0.428324
50%     4916.000000    0.731881    1.004186
75%    44701.500000    0.833526    1.610826
max    53432.000000    0.939852    2.748912

# Age-specific HAQ across all of the 823 most detailed locations, for aggregated cause_id 100

In [23]:
#haq_by_age = pd.read_csv('J:\\Project\\Cost_Effectiveness\\Access_to_care\\temp\\haq_by_age_7.20.18.csv')
#haq_by_age = pd.read_csv('/snfs1/Project/Cost_Effectiveness/Access_to_care/temp/haq_by_age_7.20.18.csv')

#haq_by_age_cause_allMostDetLocs = pd.read_csv('/share/scratch/projects/hssa/haq/HAQ_2017/haq_US/results/haq_2016_bycauseage_allMostDetLocs.csv')

haq_by_age_cause_USonly = pd.read_csv('/share/scratch/projects/hssa/haq/HAQ_2017/haq_US/results/haq_2016_by_allcause_age_USonly.csv')

In [24]:
haq_by_age_cause_USonly = haq_by_age_cause_USonly.drop(columns=['index_mean', 'index_geom_mean'])

In [25]:
haq_by_age_cause_USonly.shape

(18, 8)

In [26]:
haq_by_age_cause_USonly

,Unnamed: 0,location_id,age_group_id,year_id,cause_id,index,index_lval,index_uval
0,1,102,2,2016,100,78.971660,75.380955,80.621566
1,2,102,3,2016,100,79.446642,76.748938,80.795963
2,3,102,4,2016,100,73.535698,72.722747,75.656079
3,4,102,5,2016,100,84.630485,84.060250,85.330881
4,5,102,6,2016,100,85.847864,85.477355,86.168309
5,6,102,7,2016,100,85.069683,84.678775,85.485404
6,7,102,8,2016,100,90.206195,89.680587,90.752029
7,8,102,9,2016,100,88.536150,87.853110,89.192175
8,9,102,10,2016,100,86.440255,85.824575,87.034421
9,10,102,11,2016,100,84.794361,84.188171,85.422111
10,11,102,12,2016,100,84.208077,83.516824,84.894546
11,12,102,13,2016,100,84.511022,83.833358,85.254157
12,13,102,14,2016,100,82.311851,81.624033,83.066275
13,14,102,15,2016,100,82.845646,81.967679,83.797654
14,15,102,16,2016,100,82.181221,81.351733,83.124810
15,16,102,17,2016,100,82.790427,81.886664,83.626086
16,17,102,18,2016,100,84.749825,83.873233,85.639508
17,18,102,19,2016,100,86.836344,85.944515,87.738998

In [27]:
haq_by_age_cause_USonly.describe()

,Unnamed: 0,location_id,age_group_id,year_id,cause_id,index,index_lval,index_uval
count,18.000000,18.0,18.000000,18.0,18.0,18.000000,18.000000,18.000000
mean,9.500000,102.0,10.500000,2016.0,100.0,83.772967,82.811861,84.644498
std,5.338539,0.0,5.338539,0.0,0.0,3.781470,4.250070,3.405373
min,1.000000,102.0,2.000000,2016.0,100.0,73.535698,72.722747,75.656079
25%,5.250000,102.0,6.250000,2016.0,100.0,82.431495,81.689691,83.250129
50%,9.500000,102.0,10.500000,2016.0,100.0,84.570754,83.853295,85.292519
75%,13.750000,102.0,14.750000,2016.0,100.0,85.653319,85.277710,86.036109
max,18.000000,102.0,19.000000,2016.0,100.0,90.206195,89.680587,90.752029

### For the 823 most detailed locs

In [28]:
len(haq_by_age_cause_USonly['location_id'].unique())

1

### All 18 age groups

In [29]:
len(haq_by_age_cause_USonly['age_group_id'].unique())

18

### cause_id=100

In [30]:
len(haq_by_age_cause_USonly['cause_id'].unique())

1

In [31]:
# Log transformation
haq_by_age_cause_USonly['ln_haq'] = np.log(haq_by_age_cause_USonly['index'])

In [32]:
haq_by_age_cause_USonly.shape

(18, 9)

In [33]:
haq_by_age_cause_USonly.head()

,Unnamed: 0,location_id,age_group_id,year_id,cause_id,index,index_lval,index_uval,ln_haq
0,1,102,2,2016,100,78.971660,75.380955,80.621566,4.369089
1,2,102,3,2016,100,79.446642,76.748938,80.795963,4.375086
2,3,102,4,2016,100,73.535698,72.722747,75.656079,4.297771
3,4,102,5,2016,100,84.630485,84.060250,85.330881,4.438295
4,5,102,6,2016,100,85.847864,85.477355,86.168309,4.452577

# Merge SDI and age-specific HAQ

In [34]:
haq_sdi = pd.merge(sdi_1[['location_id', 'logit_sdi']],\
                   haq_by_age_cause_USonly[['location_id', 'age_group_id', 'ln_haq']], on='location_id')

In [35]:
haq_sdi.shape

(18, 4)

In [36]:
haq_sdi.head()

   location_id  logit_sdi  age_group_id    ln_haq
0          102    1.86831             2  4.369089
1          102    1.86831             3  4.375086
2          102    1.86831             4  4.297771
3          102    1.86831             5  4.438295
4          102    1.86831             6  4.452577

In [37]:
haq_sdi['age_group_id'].unique()

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19])

In [38]:
len(haq_sdi['location_id'].unique())

1

In [39]:
# Write out data to CSV 
haq_sdi.to_csv('/ihme/homes/arjuns13/notebooks/Documents/Data/haq_sdi_perAge_aggregatedCauses_USonly.csv')

In [40]:
haq_sdi.to_csv('J:\\Project\\Cost_Effectiveness\\NPC\\Regression_Analysis\\haq_sdi_perAge_aggregatedCauses_USonly.csv')

In [41]:
haq_sdi_allMostDetLocs = pd.read_csv('/ihme/homes/arjuns13/notebooks/Documents/Data/haq_sdi_perAge_aggregatedCauses_allMostDetLocs.csv')

In [45]:
haq_sdi_allMostDetLocs = haq_sdi_allMostDetLocs.drop(columns='Unnamed: 0')

In [46]:
haq_sdi_allMostDetLocs.head()

   location_id  logit_sdi  age_group_id    ln_haq
0            7   0.110348             2  3.872641
1            7   0.110348             3  3.919710
2            7   0.110348             4  3.796574
3            7   0.110348             5  4.128603
4            7   0.110348             6  4.194030

In [52]:
haq_sdi_allMostDetLocs.shape

(14814, 4)

In [49]:
haq_sdi_all = pd.concat([haq_sdi_allMostDetLocs, haq_sdi])

In [50]:
haq_sdi_all.head()

   location_id  logit_sdi  age_group_id    ln_haq
0            7   0.110348             2  3.872641
1            7   0.110348             3  3.919710
2            7   0.110348             4  3.796574
3            7   0.110348             5  4.128603
4            7   0.110348             6  4.194030

In [51]:
haq_sdi_all.shape

(14832, 4)

In [55]:
# Write out data to CSV 
haq_sdi_all.to_csv('/ihme/homes/arjuns13/notebooks/Documents/Data/haq_sdi_perAge_aggregatedCauses_allLocsIncUS.csv')

In [56]:
haq_sdi_all.to_csv('J:\\Project\\Cost_Effectiveness\\NPC\\Regression_Analysis\\haq_sdi_perAge_aggregatedCauses_allLocsIncUS.csv')