## This generates the HAQ-SDI data to be used for the HAQ-Frontier Analysis. Current notebook is for all most detailed locations and age specific data.

In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
import pandas as pd
import numpy as np

from numpy import sign, abs, log10
from scipy.special import logit

# SDI

In [3]:
#sdi = pd.read_csv('J:\\Project\\Cost_Effectiveness\\DCPN_DataViz\\Data\\GBD_data\\covariates\\2018_04_20_sdi.csv')
sdi = pd.read_csv('/snfs1/Project/Cost_Effectiveness/DCPN_DataViz/Data/GBD_data/covariates/2018_04_20_sdi.csv')

In [4]:
sdi.head()

,Unnamed: 0,model_version_id,covariate_id,covariate_name_short,location_id,location_name,year_id,age_group_id,age_group_name,sex_id,mean_value,lower_value,upper_value
0,1,23297,881,sdi,1,Global,2016,22,All Ages,3,0.649754,0.649754,0.649754
1,2,23297,881,sdi,4,"Southeast Asia, East Asia, and Oceania",2016,22,All Ages,3,0.683368,0.683368,0.683368
2,3,23297,881,sdi,5,East Asia,2016,22,All Ages,3,0.712705,0.712705,0.712705
3,4,23297,881,sdi,6,China,2016,22,All Ages,3,0.712014,0.712014,0.712014
4,5,23297,881,sdi,7,North Korea,2016,22,All Ages,3,0.527559,0.527559,0.527559

In [5]:
sdi['age_group_name'].unique()

array(['All Ages'], dtype=object)

In [6]:
sdi_1 = sdi[['location_id', 'mean_value']]
sdi_1 = sdi_1.rename(columns = {'mean_value': 'sdi'})

In [7]:
sdi_1.shape

(919, 2)

In [8]:
sbp = sdi.boxplot(column='mean_value',by='age_group_name')

In [9]:
sdi_1.head()

   location_id       sdi
0            1  0.649754
1            4  0.683368
2            5  0.712705
3            6  0.712014
4            7  0.527559

In [10]:
# Make sure UK is in data (this location is often problematic because it is usually disaggregated)
sdi_1.query('location_id == 95')

    location_id       sdi
92           95  0.840568

In [11]:
# logit transformation 

sdi_1['logit_sdi'] = logit(sdi_1['sdi'])

In [12]:
sdi_1.head()

   location_id       sdi  logit_sdi
0            1  0.649754   0.617958
1            4  0.683368   0.769294
2            5  0.712705   0.908556
3            6  0.712014   0.905187
4            7  0.527559   0.110348

In [13]:
sdi_1.shape

(919, 3)

In [14]:
sdi_1.describe()

        location_id         sdi   logit_sdi
count    919.000000  919.000000  919.000000
mean   21679.757345    0.700113    0.955602
std    20759.983582    0.156078    0.783099
min        1.000000    0.194042   -1.423959
25%      484.500000    0.605473    0.428324
50%     4916.000000    0.731881    1.004186
75%    44701.500000    0.833526    1.610826
max    53432.000000    0.939852    2.748912

# Age-specific HAQ across all of the 823 most detailed locations, for aggregated cause_id 100

In [15]:
#haq_by_age = pd.read_csv('J:\\Project\\Cost_Effectiveness\\Access_to_care\\temp\\haq_by_age_7.20.18.csv')
#haq_by_age = pd.read_csv('/snfs1/Project/Cost_Effectiveness/Access_to_care/temp/haq_by_age_7.20.18.csv')

#haq_by_age_cause_allMostDetLocs = pd.read_csv('/share/scratch/projects/hssa/haq/HAQ_2017/haq_US/results/haq_2016_bycauseage_allMostDetLocs.csv')

haq_by_age_cause_allMostDetLocs = pd.read_csv('/share/scratch/projects/hssa/haq/HAQ_2017/haq_US/results/haq_2016_by_allcause_age_allMostDetLocs.csv')

In [16]:
haq_by_age_cause_allMostDetLocs = haq_by_age_cause_allMostDetLocs.drop(columns=['index_mean', 'index_geom_mean'])

In [17]:
haq_by_age_cause_allMostDetLocs.shape

(14814, 8)

In [18]:
haq_by_age_cause_allMostDetLocs.head()

,Unnamed: 0,location_id,age_group_id,year_id,cause_id,index,index_lval,index_uval
0,1,33,2,2016,100,73.000393,70.183681,75.493201
1,2,33,3,2016,100,77.740844,74.594096,80.515749
2,3,33,4,2016,100,72.251495,70.566094,73.985260
3,4,33,5,2016,100,82.300044,79.952787,84.321274
4,5,33,6,2016,100,74.749729,72.884154,76.541786

In [19]:
haq_by_age_cause_allMostDetLocs.describe()

,Unnamed: 0,location_id,age_group_id,year_id,cause_id,index,index_lval,index_uval
count,14814.000000,14814.000000,14814.000000,14814.0,14814.0,14814.000000,14814.000000,14814.000000
mean,7407.500000,23426.015796,10.500000,2016.0,100.0,70.406076,67.375377,73.343531
std,4276.577779,20769.314002,5.188303,0.0,0.0,17.098366,17.869628,16.325297
min,1.000000,7.000000,2.000000,2016.0,100.0,24.865511,18.648962,28.266490
25%,3704.250000,506.000000,6.000000,2016.0,100.0,56.879123,53.155272,60.389445
50%,7407.500000,35449.000000,10.500000,2016.0,100.0,72.276597,69.510984,75.193237
75%,11110.750000,44718.000000,15.000000,2016.0,100.0,85.757227,83.389796,87.938033
max,14814.000000,53432.000000,19.000000,2016.0,100.0,97.871849,96.462240,99.149147

### For the 823 most detailed locs

In [20]:
len(haq_by_age_cause_allMostDetLocs['location_id'].unique())

823

### All 18 age groups

In [21]:
len(haq_by_age_cause_allMostDetLocs['age_group_id'].unique())

18

### cause_id=100

In [22]:
len(haq_by_age_cause_allMostDetLocs['cause_id'].unique())

1

In [23]:
# Log transformation
haq_by_age_cause_allMostDetLocs['ln_haq'] = np.log(haq_by_age_cause_allMostDetLocs['index'])

In [24]:
haq_by_age_cause_allMostDetLocs.shape

(14814, 9)

In [25]:
haq_by_age_cause_allMostDetLocs.head()

,Unnamed: 0,location_id,age_group_id,year_id,cause_id,index,index_lval,index_uval,ln_haq
0,1,33,2,2016,100,73.000393,70.183681,75.493201,4.290465
1,2,33,3,2016,100,77.740844,74.594096,80.515749,4.353381
2,3,33,4,2016,100,72.251495,70.566094,73.985260,4.280153
3,4,33,5,2016,100,82.300044,79.952787,84.321274,4.410372
4,5,33,6,2016,100,74.749729,72.884154,76.541786,4.314146

# Merge SDI and age-specific HAQ

In [26]:
haq_sdi = pd.merge(sdi_1[['location_id', 'logit_sdi']],\
                   haq_by_age_cause_allMostDetLocs[['location_id', 'age_group_id', 'ln_haq']], on='location_id')

In [27]:
haq_sdi.shape

(14814, 4)

In [28]:
haq_sdi.head()

   location_id  logit_sdi  age_group_id    ln_haq
0            7   0.110348             2  3.872641
1            7   0.110348             3  3.919710
2            7   0.110348             4  3.796574
3            7   0.110348             5  4.128603
4            7   0.110348             6  4.194030

In [29]:
haq_sdi['age_group_id'].unique()

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19])

In [30]:
len(haq_sdi['location_id'].unique())

823

In [31]:
# Write out data to CSV 
haq_sdi.to_csv('/ihme/homes/arjuns13/notebooks/Documents/Data/haq_sdi_perAge_aggregatedCauses_allMostDetLocs.csv')

In [32]:
haq_sdi.to_csv('J:\\Project\\Cost_Effectiveness\\NPC\\Regression_Analysis\\haq_sdi_perAge_aggregatedCauses_allMostDetLocs.csv')