# Notebook to create the HAQ input data for only US for the age standardized version. This is being done separately cause US is the to be used for the final predictions but US itself is not a "most detailed location"

In [1]:
import pandas as pd
import numpy as np
import pickle as pkl
import copy
import matplotlib.pyplot as plt
from db_queries import get_location_metadata
%matplotlib inline

In [2]:
haq_data_dir = '/share/scratch/projects/hssa/haq/HAQ_2017/vanilla_cc_89_paf_242/draws/'
my_data_dir = '/share/scratch/projects/hssa/haq/HAQ_2017/haq_US/'
prog_dir = '/homes/arjuns13/haq/haq/risk_standardized_amen_mort/'
my_data_dir_cancer = '/share/scratch/projects/hssa/haq/HAQ_2017/haq_2017_latest_cancer/cancers_age_std_all_most_det_locs/'
years = [2016]#[1990, 1995, 2000, 2005, 2010, 2015, 2016, 2017]

### Using all 823 most detailed locations for getting the min-max values as well as for the subsequent analysis

In [3]:
locsdf = get_location_metadata(gbd_round_id=5, location_set_id=35)
causelist = pd.read_csv(prog_dir+'amenable_cause_list_GBD.csv')

In [4]:
loc_US = locsdf[locsdf['location_id']==102]['location_id']

In [5]:
loc_US

181    102
Name: location_id, dtype: int64

In [6]:
consolidated_limits  = {
    297:{'age_start':4,
        'age_end':19},
    302:{'age_start':2,
        'age_end':7},
    322:{'age_start':2,
        'age_end':19},
    328:{'age_start':2,
        'age_end':19},
    338:{'age_start':4,
        'age_end':16},
    339:{'age_start':4,
        'age_end':7},
    340:{'age_start':2,
        'age_end':19},
    341:{'age_start':5,
        'age_end':7},
    366:{'age_start':7,
        'age_end':15},
    380:{'age_start':2,
        'age_end':5},
    849:{'age_start':8,
        'age_end':19},
    429:{'age_start':8,
        'age_end':19},
    432:{'age_start':8,
        'age_end':19},
    435:{'age_start':8,
        'age_end':13},
    441:{'age_start':8,
        'age_end':19},
    468:{'age_start':8,
        'age_end':19},
    484:{'age_start':4,
        'age_end':19},
    487:{'age_start':4,
        'age_end':13},
    492:{'age_start':5,
        'age_end':19},
    493:{'age_start':4,
        'age_end':19},
    494:{'age_start':2,
        'age_end':19},
    498:{'age_start':4,
        'age_end':19},
    508:{'age_start':5,
        'age_end':7},
    527:{'age_start':5,
        'age_end':19},
    529:{'age_start':5,
        'age_end':19},
    531:{'age_start':5,
        'age_end':19},
    534:{'age_start':5,
        'age_end':19},
    545:{'age_start':4,
        'age_end':19},
    587:{'age_start':2,
        'age_end':14},
    589:{'age_start':4,
        'age_end':19},
    643:{'age_start':2,
        'age_end':18},
    708:{'age_start':2,
        'age_end':19}
}
cause_limits = pd.DataFrame(consolidated_limits) 
cause_limits = cause_limits.T.reset_index()
cause_limits = cause_limits.rename(index=str, columns={'index':'cause_id'})

### Combined data - for US only, and Age Standardized

In [7]:
US_ageStd_data_noncancer =[]

for y in years:
    print('Processing: ',y)
    for i in list(loc_US):
        print('Processing loc: ',i)
        df = pd.read_csv(my_data_dir+'std_all_most_det_locs_age_std/'+str(y)+'/'+str(i)+'.csv')
        # dropping cancer
        df = df[~df['cause_id'].isin([849, 429, 432, 435, 441, 468, 484, 487])]
        
        US_ageStd_data_noncancer.append(df)
US_ageStd_data_noncancer = pd.concat(US_ageStd_data_noncancer, axis=0)

print("Saving to ", my_data_dir+'combined_data/global_data/')
US_ageStd_data_noncancer.to_csv(my_data_dir+'combined_data/global_data/' + \
                                        'US_ageStd_data_noncancer.csv',index=False)

Processing:  2016
Processing loc:  102
Saving to  /share/scratch/projects/hssa/haq/HAQ_2017/haq_US/combined_data/global_data/

In [8]:
US_ageStd_data_noncancer.shape

(24000, 8)

In [9]:
US_ageStd_data_noncancer.head()

,location_id,year_id,age_group_id,sex_id,cause_id,draw,rsval,val
0,102,2016,27,3,297,0,1.001962e-06,0.000001
1,102,2016,27,3,297,1,8.852416e-07,0.000001
2,102,2016,27,3,297,2,8.770459e-07,0.000001
3,102,2016,27,3,297,3,8.769938e-07,0.000001
4,102,2016,27,3,297,4,9.461929e-07,0.000001

In [10]:
my_data_dir_cancer = '/share/scratch/projects/hssa/haq/HAQ_2017/haq_2017_latest_cancer/cancers_age_std_all_most_det_locs/'
#my_data_dir_cancer = '/share/scratch/projects/hssa/haq/HAQ_2017/haq_2017_latest_cancer/cancers_all_most_det_locs/'
US_ageStd_data_cancer =[]
for y in years:
    print('Processing: ',y)
    for i in list(loc_US):
        print('Processing loc: ',i)
        df = pd.read_csv(my_data_dir_cancer+str(y)+'/'+str(i)+'.csv')
        # keeping only cancer
        df = df[df['cause_id'].isin([849, 429, 432, 435, 441, 468, 484, 487])]
        
        US_ageStd_data_cancer.append(df)
US_ageStd_data_cancer = pd.concat(US_ageStd_data_cancer, axis=0)

print("Saving to ", my_data_dir+'combined_data/global_data/')
US_ageStd_data_cancer.to_csv(my_data_dir+'combined_data/global_data/' + 'US_ageStd_data_cancer.csv',index=False)

Processing:  2016
Processing loc:  102
Saving to  /share/scratch/projects/hssa/haq/HAQ_2017/haq_US/combined_data/global_data/

In [11]:
US_ageStd_data_cancer.head()

   location_id  year_id  age_group_id  sex_id  cause_id  draw     rsval  val
0          102     2016            27       3       429     0  0.156114  NaN
1          102     2016            27       3       429     1  0.157338  NaN
2          102     2016            27       3       429     2  0.158257  NaN
3          102     2016            27       3       429     3  0.157234  NaN
4          102     2016            27       3       429     4  0.156001  NaN